<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Anton|Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/home_style.css">
  <script src="js/jquery-3.2.1.js"></script>
  <title>Boonme Home</title>
</head>

<body>
  <div class="navbar">
    <div class="navbar-container">
      <div class="navbar-webname">
        <div class="navbar-webname-title">
          บุญมี
        </div>
        <div class="navbar-webname-subtitle">
          จำหน่ายอุปกรณ์สำหรับโต๊ะทำงาน
        </div>
      </div>
      <ul class="navbar-link">
        <li class="navbar-link_register"><a href="#">เข้าสู่ระบบ</a></li>
        <li class="navbar-link_download"><a href="#">ดาวน์โหลด</a></li>
        <li class="navbar-link_search">
          <form class="form-search" action="https://google.com/search">

            <input class="material" id="inq" type="search" name="q" title="ค้นหาจากรหัสสินค้า หรือชื่อสินค้า" placeholder=" ค้นหาสินค้า..." required/>
          </form>
          <!-- <input id="input-search" type="search" name="" value="" placeholder="ค้นหาสินค้า.." title="search from id product and name product" required> -->
        </li>
      </ul>
      <ul class="navbar-contacts">

        <li class="navbar-contact-child">
          <a href="#"><i class="fa fa-facebook navbar-contact-icon ic-fb" aria-hidden="true"></i></a>
        </li>
        <li class="navbar-contact-child">
          <a href="#"><i class="fa fa-instagram navbar-contact-icon ic-ig" aria-hidden="true"></i></a>
        </li>
        <li class="navbar-contact-child">
          <a href="#"><i class="fa fa-youtube-play navbar-contact-icon ic-yt" aria-hidden="true"></i></a>
        </li>
        <li class="navbar-contact-child">
          <a href="#"><i class="fa fa-phone navbar-contact-icon" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>

  </div>
  <div class="container">

    <div class="banner">
      <div class="banner-container-grid">
        <div class="banner-grid box1">
          <a href="#"><span class="grid-header">
            Lamp
          </span>
          </a>
        </div>
        <div class="banner-grid box2">
          <a href="#">
            <span class="grid-header">
                LED
            </span>
          </a>
        </div>
        <div class="banner-grid box3">
          <a href="#">
            <span class="grid-header">
                Flowerpot
            </span>
          </a>
        </div>
        <div class="banner-grid box4">
          <a href="#">
            <span class="grid-header">
                Clock
            </span>
          </a>
        </div>
        <div class="banner-grid box6">
          <a href="#">
            <span class="grid-header">
                Wooden Stationery
            </span>
          </a>
        </div>
        <div class="banner-grid box7">
          <a href="#">
            <span class="grid-header">
                Desk Top
            </span>
          </a>
        </div>
        <div class="banner-grid box8">
          <a href="#">
            <span class="grid-header">
                Luck, Fortune
            </span>
          </a>
        </div>
        <div class="banner-grid box5">
          <a href="#">
            <span class="grid-header">
                Cup
            </span>
          </a>
        </div>
      </div>
      <div class="banner-slideshow">

      </div>
    </div>

    <div class="market">
      <div class="market-header">
        <div class="market-header-icon">
          <img class="market-header-ic-img" src="/assets/imgs/icon/market-lamp-ic-white.png" alt="icon-head-market">
        </div>
        <div class="market-header-title">
          Lamp (โคมไฟประดับ)
        </div>
      </div>
      <div class="market-body">
        <div class="market-group">
          <div class="market-group-head">
            
          </div>
          <div class="market-group-list">
             <%include nav.ejs %>
             <%=username%>
          </div>
        </div>


        <!-- Body Market -->
        <div class="market-item-container">

          <div class="card">
            <a class="card-link" href="#">
              <div class="card-image">
                <img src="https://i.pinimg.com/564x/c6/f9/19/c6f91945eb78b9697ed2f8b86805b23d.jpg" alt="product-image" title="imag from pinterest">

              </div>
              <div class="card-total" title="สินค้าคงเหลือในคลัง">
                18
              </div>
              <div class="card-body">

                <div class="card-body_label">
                  sell
                </div>
                <div class="card-body_name">
                  Name Product
                </div>
                <div class="card-body_id">
                  #0001
                </div>
                <div class="card-body_price">
                  <span class="card-body_price__original">฿599.</span> <span class="card-body_price__discounted"> ฿399.-</span>
                </div>
                <div class="card-body_detail">
                  Detail product <br>size 30 x 40 x 50 cm <br> weight 3.5km <br> จัดส่งจากในประเทศ วัสดุ โหลแก้ว ไม้ เหล็ก ผ้าฝ้าย สายไฟทำจากวัสดุไฟเบอร์ชนิดพิเศษกันน้ำ
                </div>
                <div class="card-body_button">
                  <div class="card-body_button_inner">
                    เลือกซื้อ
                  </div>

                </div>
                <footer class="card-body_footer">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true"> </span> <span class="card-body_footer_ic-like"> 20 like</span>
                  <span class="fa fa-comment-o" aria-hidden="true"></span> <span class="card-body_footer_ic-comment"> 16 comments</span>
                </footer>
              </div>
            </a>
          </div>


          <div class="card">
            <a class="card-link" href="#">
              <div class="card-image">
                <img src="https://i.pinimg.com/564x/8c/74/8f/8c748fd2958c4a95a403fc49d1a31937.jpg" alt="product-image" title="imag from pinterest">

              </div>
              <div class="card-total" title="สินค้าคงเหลือในคลัง">
                18
              </div>
              <div class="card-body">

                <div class="card-body_label">
                  sell
                </div>
                <div class="card-body_name">
                  Name Product
                </div>
                <div class="card-body_id">
                  #0001
                </div>
                <div class="card-body_price">
                  <span class="card-body_price__original">฿599.</span> <span class="card-body_price__discounted"> ฿399.-</span>
                </div>
                <div class="card-body_detail">
                  Detail product <br>size 30 x 40 x 50 cm <br> weight 3.5km <br> จัดส่งจากในประเทศ วัสดุ โหลแก้ว ไม้ เหล็ก ผ้าฝ้าย สายไฟทำจากวัสดุไฟเบอร์ชนิดพิเศษกันน้ำ
                </div>
                <div class="card-body_button">
                  <div class="card-body_button_inner">
                    เลือกซื้อ
                  </div>

                </div>
                <footer class="card-body_footer">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true"> </span> <span class="card-body_footer_ic-like"> 20 like</span>
                  <span class="fa fa-comment-o" aria-hidden="true"></span> <span class="card-body_footer_ic-comment"> 16 comments</span>
                </footer>
              </div>
            </a>
          </div>


          <div class="card">
            <a class="card-link" href="#">
              <div class="card-image">
                <img src="https://i.pinimg.com/564x/9f/e9/92/9fe9922da617e7a8bf271559e2d2b4eb.jpg" alt="product-image" title="imag from pinterest">

              </div>
              <div class="card-total" title="สินค้าคงเหลือในคลัง">
                18
              </div>
              <div class="card-body">

                <div class="card-body_label">
                  sell
                </div>
                <div class="card-body_name">
                  Name Product
                </div>
                <div class="card-body_id">
                  #0001
                </div>
                <div class="card-body_price">
                  <span class="card-body_price__original">฿599.</span> <span class="card-body_price__discounted"> ฿399.-</span>
                </div>
                <div class="card-body_detail">
                  Detail product <br>size 30 x 40 x 50 cm <br> weight 3.5km <br> จัดส่งจากในประเทศ วัสดุ โหลแก้ว ไม้ เหล็ก ผ้าฝ้าย สายไฟทำจากวัสดุไฟเบอร์ชนิดพิเศษกันน้ำ
                </div>
                <div class="card-body_button">
                  <div class="card-body_button_inner">
                    เลือกซื้อ
                  </div>

                </div>
                <footer class="card-body_footer">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true"> </span> <span class="card-body_footer_ic-like"> 20 like</span>
                  <span class="fa fa-comment-o" aria-hidden="true"></span> <span class="card-body_footer_ic-comment"> 16 comments</span>
                </footer>
              </div>
            </a>
          </div>




          <div class="card">
            <a class="card-link" href="#">
              <div class="card-image">
                <img src="https://i.pinimg.com/564x/4e/0b/5a/4e0b5aa322afb44f3b14099df5d1685e.jpg" alt="product-image" title="imag from pinterest">

              </div>
              <div class="card-total" title="สินค้าคงเหลือในคลัง">
                18
              </div>
              <div class="card-body">

                <div class="card-body_label">
                  sell
                </div>
                <div class="card-body_name">
                  Name Product
                </div>
                <div class="card-body_id">
                  #0001
                </div>
                <div class="card-body_price">
                  <span class="card-body_price__original">฿599.</span> <span class="card-body_price__discounted"> ฿399.-</span>
                </div>
                <div class="card-body_detail">
                  Detail product <br>size 30 x 40 x 50 cm <br> weight 3.5km <br> จัดส่งจากในประเทศ วัสดุ โหลแก้ว ไม้ เหล็ก ผ้าฝ้าย สายไฟทำจากวัสดุไฟเบอร์ชนิดพิเศษกันน้ำ
                </div>
                <div class="card-body_button">
                  <div class="card-body_button_inner">
                    เลือกซื้อ
                  </div>

                </div>
                <footer class="card-body_footer">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true"> </span> <span class="card-body_footer_ic-like"> 20 like</span>
                  <span class="fa fa-comment-o" aria-hidden="true"></span> <span class="card-body_footer_ic-comment"> 16 comments</span>
                </footer>
              </div>
            </a>
          </div>



          <div class="card">
            <a class="card-link" href="#">
              <div class="card-image">
                <img src="https://i.pinimg.com/564x/d6/a5/68/d6a568291c8a922cc8b30d3c330a6411.jpg" alt="product-image" title="imag from pinterest">

              </div>
              <div class="card-total" title="สินค้าคงเหลือในคลัง">
                18
              </div>
              <div class="card-body">

                <div class="card-body_label">
                  sell
                </div>
                <div class="card-body_name">
                  Name Product
                </div>
                <div class="card-body_id">
                  #0001
                </div>
                <div class="card-body_price">
                  <span class="card-body_price__original">฿599.</span> <span class="card-body_price__discounted"> ฿399.-</span>
                </div>
                <div class="card-body_detail">
                  Detail product <br>size 30 x 40 x 50 cm <br> weight 3.5km <br> จัดส่งจากในประเทศ วัสดุ โหลแก้ว ไม้ เหล็ก ผ้าฝ้าย สายไฟทำจากวัสดุไฟเบอร์ชนิดพิเศษกันน้ำ
                </div>
                <div class="card-body_button">
                  <div class="card-body_button_inner">
                    เลือกซื้อ
                  </div>

                </div>

                <footer class="card-body_footer">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true"> </span> <span class="card-body_footer_ic-like"> 20 like</span>
                  <span class="fa fa-comment-o" aria-hidden="true"></span> <span class="card-body_footer_ic-comment"> 16 comments</span>
                </footer>
              </div>
            </a>
          </div>



          <div class="card">
            <a class="card-link" href="#">
              <div class="card-image">
                <img src="https://i.pinimg.com/564x/a8/35/89/a835898a722c8aa194966249dcd545a5.jpg" alt="product-image" title="imag from pinterest">

              </div>
              <div class="card-total" title="สินค้าคงเหลือในคลัง">
                18
              </div>
              <div class="card-body">

                <div class="card-body_label">
                  sell
                </div>
                <div class="card-body_name">
                  Name Product
                </div>
                <div class="card-body_id">
                  #0001
                </div>
                <div class="card-body_price">
                  <span class="card-body_price__original">฿599.</span> <span class="card-body_price__discounted"> ฿399.-</span>
                </div>
                <div class="card-body_detail">
                  Detail product <br>size 30 x 40 x 50 cm <br> weight 3.5km <br> จัดส่งจากในประเทศ วัสดุ โหลแก้ว ไม้ เหล็ก ผ้าฝ้าย สายไฟทำจากวัสดุไฟเบอร์ชนิดพิเศษกันน้ำ
                </div>
                <div class="card-body_button">
                  <div class="card-body_button_inner">
                    เลือกซื้อ
                  </div>

                </div>
                <footer class="card-body_footer">
                  <span class="fa fa-thumbs-o-up" aria-hidden="true"> </span> <span class="card-body_footer_ic-like"> 20 like</span>
                  <span class="fa fa-comment-o" aria-hidden="true"></span> <span class="card-body_footer_ic-comment"> 16 comments</span>
                </footer>
              </div>
            </a>
          </div>


        </div>
        <!-- Body Market  -->





      </div>

    </div>

    <hr>
  </div>




  <div class="footer-main">
    <div class="footer-container">
      Power by
      <div class="footer-grid">
        <div class="footer-grid-nested">
          <div>
            - Atom text-editor <span class="lineemply"></span> - Font-awesome
          </div>
          <div>
            - Jquery <span class="lineemply"></span> - NodeJS
          </div>
          <div>
            - Express <span class="lineemply"></span> - MongoDB
          </div>
          <div>
            - Angular
            <span class="lineemply"></span> - <span class="fa fa-code footer-txt-head" aria-hidden="true">
            </span>
            <span class="fa fa-css3 footer-txt-head" aria-hidden="true">
            </span>
            <span class="fa fa-html5 footer-txt-head" aria-hidden="true">
            </span>
          </div>
        </div>
        <div class="footer-grid-child">
          <strong>
            <span class="fa fa-envelope footer-txt-head" aria-hidden="true">
              </span> chsi.12j@gmail.com<br>
              <span class="lineemply"></span>
              <span class="fa fa-phone-square footer-txt-head" aria-hidden="true">
              </span> 088-2222222
          </strong>




        </div>
      </div>
    </div>
  </div>








  <script>
    function alertMe() {
      alert('Click');
    }
  </script>
</body>

</html>
