
<link rel="stylesheet" href="/assets/css/nav.css">
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/database">Database</a></li>
        <li><a href="/product">Product</a></li>
    </ul>
</nav>