/*==================TAG SETTINNG=================*/

html {
  height: 100%;
}

body {
  /*ตั้งค่าเป็น display flex
  เพื่อให้เรียงลำดับ div ทั้งหมด จาก บนลงล่าง
  แบบ column เอื้อกำนวยในการทำ footer แบบ sticky
  footer จะคงอยู่ด้านลงเสมอ แม้ว่าเนื้อหาใน container body จะเยอะแค่ไหน
  */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*set space-around for footer at bottom*/
  /*justify-content: space-around;*/
  /* Avoid the IE 10-11 `min-height` bug. */
  /**/
  padding: 0;
  margin: 0;
  font-family: 'Kanit', Tahoma, sans-serif;
  background: #ededed;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}

/*==================CONTAINER=================*/

.container {
  /*old way to sticky footer*/
  flex: 1 0 auto;
  max-width: 980px;
  margin: 0 auto;
}

/*==================NAVBAR=================*/

.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2), 5px 5px 10px 5px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 2000;
}

.navbar-container {
  max-width: 980px;
  margin: 0.3em auto; // height: 60px;
  display: grid; // justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.2em;
  position: relative;
}

.navbar-webname {
  margin: 0.2em 0;
  padding: 0.1em 0.5em;
  grid-column: 1/2;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
  cursor: pointer;
}

.navbar-webname-title {
  font-weight: 900;
  font-size: 3.5vmin;
  .navbar-icon_title {
    display: none;
  }
}

.navbar-webname-subtitle {
  padding-top: 0.5em;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.navbar-link {
  grid-column: 4/7;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  font-size: 13px;
  text-align: center;
  li {
    position: relative;
    a {
      transition: color 0.2s;
      text-decoration: none;
      color: rgba(90, 97, 138, 0.7);
    }
  }
}

.navbar-link_register {
  font-size: 1em;
  grid-column: 1/2;
}

.navbar-link_register:hover,
.navbar-link_register:focus {
  cursor: pointer;
}

.navbar-link_download {
  grid-column: 2/3;
}

.navbar-link_download:hover,
.navbar-link_download:focus {
  cursor: pointer;
}

.navbar-link_search {
  // grid-column: 3/4;
  display: none;
}

.navbar-contacts_container {
  grid-column: 3/4;
}

//Modal Login =================================================
@keyframes modal-fadein {
  from {
    opacity: 0;
    top: -50%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}

.modal-login {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-login_content {
    position: relative;
    width: 300px;
    margin: 5% auto;
    padding: 1.5em;
    background: linear-gradient(135deg, #bfe6ec, #72a8d4, #3d5599, #232e50);
    border-radius: 0.2em;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    animation: modal-fadein 0.3s;
    input,
    button {
      cursor: pointer;
      width: 100%;
    }
    .modal-close-container {
      display: flex;
      justify-content: space-between;
      .modal-btn-close {
        font-size: 2em;
        color: rgba(0, 0, 0, 0.3);
      }
      .modal-btn-close:hover,
      .modal-btn-close:focus {
        color: #212121;
        cursor: pointer;
      }
    }
  }
  .modal-login_title {
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(252, 252, 252);
  }
  .modal-login_sub_title {
    font-size: 1em;
    color: rgb(235, 235, 235);
    margin: 0.5em;
  }
  form {
    text-align: center;
    display: block;
  }
  input {
    display: block;
    padding: 0.7em;
    margin: 0.5em auto;
    margin-bottom: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 1em;
    background-color: #f2f2f2;
  }
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.4);
  }
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.4);
  }
  input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.4);
  }
  input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.4);
  }
  button {
    padding: 1em 2em;
    margin: 1em 0;
    border-radius: 2px;
    border: 0;
    background-color: #514FBF;
    color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
  }
  button:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: #5c5f8f;
    color: rgb(228, 228, 228);
  }
  button:hover {
    color: #fee;
    transition: 0.2s;
    background-color: rgb(81, 79, 202);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
  }
  .modal-login_link-edite {
    font-size: 1em;
    color: rgb(238, 238, 238);
    margin-bottom: 1em;
    a {
      color: #fff;
    }
  }
  .bt-closemodal {
    margin: 0 auto;
    text-align: center;
    color: #bf4848;
    padding-top: 1em;
    font-size: 0.9em;
  }
}

/*==================Modal download=================*/

.modal-download {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}

.modal-download_content {
  position: relative;
  display: block;
  width: 300px;
  margin: 5% auto;
  padding: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(135deg, #40c4ff, #2979ff, #3949ab, #283593);
  border-radius: 0.3em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  animation-name: modal-fadein;
  animation-duration: 0.3s;
  .modal-close-container {
    display: flex;
    justify-content: space-between;
    .modal-btn-close {
      font-size: 2em;
      color: rgba(200, 200, 200, 0.6);
    }
    .modal-btn-close:hover,
    .modal-btn-close:focus {
      color: #212121;
      cursor: pointer;
    }
  }
  button {
    width: 100%;
    background-color: #fefefe;
    outline: none;
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    margin: 0.5em 0;
    transition: 0.3s;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    background-color: #fff;
  }
  .bt-download-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    .download-icon {
      flex: 1; // display: flex;
      margin-right: 0.5em;
      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .download-text {
      flex: 3; //แบ่งสัดส่วน
      display: flex;
      flex-direction: column; //ปรับให้เรียงแนวตั้ง
      align-items: flex-start; //จัดข้อมูลแนวนอน
      justify-content: center; //จัดข้อมูลแนวตั้งให้อยู่ตรงกลาง
      text-align: left;
      white-space: nowrap; //สั่งให้ text ไม่ตกบันทัดลงมาเมื่อมีการย่อ view ทำให้จะไปดันส่วนอื่นให้ย่อแทน
      overflow: hidden;
      text-overflow: ellipsis; //text ที่เกินออกมาหรือเมื่อมีการย่อจะทำให้เป็น textname...
      .download-text_primary {
        font-weight: bold;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.7);
        margin: 0.5em 0;
      }
      .download-text_secondary {
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.7em;
      }
    }
  }
}

// ======================================================
.navbar-link_search form input[type="search"] {
  position: relative;
  width: 10em;
  box-sizing: border-box;
  font-size: 1em;
  color: #111;
  background: url(/assets/imgs/icon/ic_search_black_18dp_1x.png) no-repeat scroll 7px 7px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 0.5em 0;
  padding-left: 1.6em;
  border: 1px solid rgba(66, 76, 135, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s;
}

.navbar-link_search .form-search input[type="search"]:focus {
  background: url(/assets/imgs/icon/ic_search_black_18dp_1x.png) no-repeat scroll -20px 7px;
  padding-left: 0.5em;
  background-color: rgba(249, 249, 249, 0.5);
}

.navbar-link_search .form-search input[type="search"]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.4);
}

.navbar-link .navbar-link_register a :hover {
  color: rgba(66, 76, 135, 1);
}

.setfont-icon {
  font-size: 1.5em;
}

.label-app {
  position: relative;
  top: -0.2em;
}

.navbar-contacts {
  grid-column: 5/6;
  display: flex;
  align-items: center; // align-content: space-between;
  justify-content: space-between;
  li.navbar-contact-child {
    padding: 0;
  }
}

.navbar-contact-child {
  padding: 0;
}

.navbar-contact-icon {
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
  background-color: rgb(224, 227, 233);
  color: rgba(0, 0, 0, 0.7);
}

.navbar-contact-icon:hover {
  background-color: rgb(230, 234, 245);
  color: rgba(0, 0, 0, 0.7);
}

/*============NAVBAR HAMBURGER=================*/

.navbar-hamburger {
  // หน้าจอใหญ่สุดจะไม่แสดงปุ่ม hamburger
  display: none;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; // background-color:#fff;
  margin: 0.5em 0.1em;
  padding: 0.2em 0.2em;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #aaa;
  transition: 0.3s;
}

.arrow-hamburger {
  position: relative;
  display: block;
  width: 1px;
  margin: 0 auto;
  margin-bottom: 0.2em; //ใช้เทคนิคของ border ทำให้ div กลายเป็น ลูกศรสามเหลี่ยม
  border-top: 7px solid #283747;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 1px;
  transition: 0.3s;
}

.button_hamburger {
  position: relative;
  width: 1.7em;
  height: 4px;
  background-color: #566573;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  transition: 0.3s;
}

// มีการใช้ javascript ร่วมด้วย
// เมื่อมีการกดปุ่ม  .navbar-hamburger จาวาสคีปจะสั่งให้
// toggleClass เพิ่ม class active เข้าไปในโค้ด html
// ก็จะเข้าไปทำงาน css ด้านล่าง
// .navbar-hamburger.active >> สั่งให้ .button_hamburger
// มีการเปลี่ยนเแปลง animation
//.navbar-hamburger.active หมายถึง ใน html มี 2 class นี้ต่อกัน
// css จะทำงาน
.navbar-hamburger.active .button_hamburger {
  background-color: #878e96;
  transform: translateY(2em);
}

// สั่งให้ลูกสรกลับหัวเมื่อมีการกดปุ่ม hamburger
.navbar-hamburger.active .arrow-hamburger {
  border-top: 0 solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #283747; // พยามจัดให้ลูกศรอยู่ตรงกลางปุ่มเมื่อ hamburger เลื่อนลง
  margin: auto;
  margin-top: 0.6em;
  transition: 0.3s;
}

/*================================================================================================*/

/*================================================================================================*/

/*================================================================================================*/

/*================================================================================================*/

/*================================================================================================*/

/*==================BANNER====================*/

.banner {
  position: relative;
  margin: 1em 0;
}

.banner-container-grid {
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5em;
}

.banner-slideshow_promotion {
  max-height: 240px;
  grid-column: 1/8;
  position: relative;
  display: grid;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
  .promotion-container {
    display: flex; // flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    .promotion-item {
      opacity: 0.7;
      transition: 0.3s;
      flex-shrink: 0;
      flex-basis: 60%;
      height: inherit;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.452);
        border-radius: 2px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .promotion-item:hover {
      opacity: 1;
      z-index: 1;
      transform: scale(1.05);
    }
  }
  .slideshow_promotion-title {
    padding: 1em;
    color: #fff;
    background: linear-gradient(to right, #e2dc88, #e03838, #7842ce, rgb(47, 93, 190));
    background-size: 400% 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.452);
    animation: gradiantAnimate 10s ease infinite;
  }
  @keyframes gradiantAnimate {
    0% {
      background-position: 0%
    }
    50% {
      background-position: 100%
    }
    100% {
      background-position: 0%
    }
  }
  .slideshow_promotion-btn {
    background-color: #ececec;
    color: #333;
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
    outline: none;
    opacity: 0.5;
    z-index: 1;
    &:hover {
      cursor: pointer;
      background-color: #eeeeee;
      color: #000;
      opacity: 1;
    }
  }
  #btnBack {
    left: 0;
  }
  #btnNext {
    right: 0;
  }
}

.banner-slideshow {
  grid-column: 8/13;
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
  position: relative;
  img {
    display: block;
    position: relative;
    width: 100%;
    max-height: 100%; // top: -20%;
    margin: 0 auto;
    z-index: 0;
  }
  .slideshow-btn {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
  }
  .slideshow-btn:focus {
    outline: none;
  }
  .slideshow-btn:hover,
  .slideshow-btn:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #slideShowBtnBack {
    left: 0;
  }
  #slideShowBtnNext {
    right: 0;
  }
  .slideshow-selector {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.1);
    span {
      color: rgba(0, 0, 0, 0.6);
      margin: 0 2px;
    }
    span:hover,
    span:active {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.9);
    }
    span.activee span {
      color: #fff;
    }
  }
}

.menu {
  position: relative;
  margin-bottom: 1em;
  .menu-products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2px;
    .menu-item {
      max-height: 80px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
      background: #ffffff;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      transition: 0.3s;
      cursor: pointer;
      position: relative;
      img {
        display: block;
        margin: auto;
        width: 70%;
        height: 70%;
        transform: scale(1);
      }
      figcaption {
        margin-top: 0.5em;
        text-align: center;
        font-size: 0.8em;
        color: #424242;
      }
      &:hover {
        background-color: rgb(237, 237, 237);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
        img {
          transform: scale(0.97);
        }
      }
    }
  }
}

/*=================MARKET HEADER====================*/

.market {
  color: #fff;
  position: relative;
}

.progress-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
}

.progress-bar-border {
  width: 50%;
  border: 1px solid #fff;
  border-radius: 0.1em;
  background-color: #fff;
  position: absolute;
  left: 25%;
  top: 25%;
  box-shadow: 1px 1px 1000px 1000px rgba(0, 0, 0, 0.8);
  .progress-bar_button-close {
    color: #333;
    position: absolute;
    right: -3em;
    top: -0.5em;
    font-size: 1em;
    background-color: #fff;
    border-radius: 100%;
    padding: 0.5em 0.75em;
    cursor: pointer;
  }
}

.progress-bar {
  border: 0.5em solid #fff;
  background-color: #212121;
  border-radius: 0.1em;
  width: 0;
}

.market-body {
  padding-top: 0.25em;
  position: relative;
}

.market-header {
  height: auto;
  display: grid;
  text-align: center;
  position: relative;
  grid-template-columns: repeat(5, 1fr); // overflow: hidden;
  margin-bottom: 1em;
  z-index: 2;
}

.market-header_titlebar {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: linear-gradient(to right, #636681, #292c4c);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  z-index: 1;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35), 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.market-header_titlebar-button {
  display: none;
  grid-column: 5/6;
  margin: auto;
  overflow: hidden;
  padding: 7%;
  background: linear-gradient(to right, #EC407A, #D81B60);
  border-radius: 100%;
  max-width: 60px;
  max-height: 60px;
  transform: translateY(50%);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35), 5px 5px 10px 5px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.market-header_titlebar-button:hover,
.market-header_titlebar-button:active {
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, rgb(240, 68, 125), rgb(231, 28, 103));
  cursor: pointer;
  top: -0.5px;
}

.market-header_titlebar-title {
  grid-column: 2/5;
  align-items: center;
  font-size: 1.5em;
  margin: 0.7em auto;
  display: flex;
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    left: -50%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}

.market-filterbar {
  grid-column: 1/6; // position: absolute;
  // transform: translateY(0);
  .filterbar-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6em;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    padding: 1em; // position: absolute;
    text-align: left; // 
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25), 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    animation: fadeToRight 0.3s;
  }
  div {
    grid-column: 1/6;
    text-align: center;
  }
  section {
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    header {
      font-size: 1em;
      font-weight: 450;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0.4em;
    }
    article {
      font-size: 0.9em;
      input[type=text],
      input[type=number] {
        width: 100%;
        margin-bottom: 0.3em;
        padding: 0.3em;
        font-family: inherit;
      }
    }
    select {
      width: 100%;
      font-family: inherit;
      margin-bottom: 0.4em;
      padding: 0.3em 0;
    }
  }
  section:hover {
    background-color: rgb(136, 159, 179); //Blue Grey 500
    color: #fff;
    header {
      color: #fff;
    }
  }
  section.filterbar_type {
    article {
      div {
        text-align: left;
      }
    }
  }
  section.filterbar_range {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      justify-content: space-between;
      input {
        width: 4em;
      } //เอาลูกศรขึ้นลงด้านข้างออก 
      /* For Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
      input[type=number]::-webkit-inner-spin-button, //safari and chrome
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  section.filterbar_submit {
    article {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      div:nth-child(1) {
        margin-bottom: 0.5em;
      }
    }
  }
  section.filterbar_submit:hover {
    background-color: #fff;
    header {
      font-size: 1em;
      font-weight: 450;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0.4em;
    }
  }
}

/*=================MARKET BODY (CARD)====================*/

$color-text-primary:#212121;
$color-text-primary-hover:#212121;
$color-text-seconary:#424242;
$duration-animation:0.2s;
$bg-total:#5C6BC0;
.market-item-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); // grid-template-rows: minmax(100px,auto);
  grid-row-gap: 1em;
  grid-column-gap: 0.2em;
  margin-bottom: 1em;
}

.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: $duration-animation;
  overflow: hidden;
  color: initial;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  &:hover,
  &:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17), 0 6px 12px rgba(0, 0, 0, 0.3);
    top: -1px;
    cursor: pointer;
  }
  &:hover .card-image img {
    filter: brightness(120%);
  }
  .card-image {
    display: flex;
    height: 180px;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }
  .card-label {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1; // font-size:2.2vmin;
    font-size: 0.9em;
    .label-status {
      font-family: 'Roboto', sans-serif;
      background: #F44336;
      padding: 0.5em;
      align-self: center;
      color: #fff;
    }
    .label-total {
      padding: 0.5em;
      margin: 0.5em;
      background: #3F51B5;
      color: #fff;
      border-radius: 50%;
    }
  }
  .card-body {
    padding: 0.5em;
    .id {
      opacity: 0.6;
      font-size: 0.6rem;
    }
    .name {
      h3 {
        color: #2a39b1;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
      }
      margin-bottom:0.5em;
    }
    .price {
      .price_original {
        color: rgb(38, 0, 126);
      }
      .price_prediscount {
        text-decoration-line: line-through;
        color: rgb(70, 70, 70);
      }
      .price_discounted {
        color: rgb(219, 69, 69);
      }
    }
  }
}
// ============================================
// ============================================
// ============================================
// ============================================
// ============================================
// ============================================
// ============================================
// ============================================

// ===============PRODUCT DETAIL==========================//
@keyframes scaleExpand {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.product-detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  // background: linear-gradient(135deg,  rgba(52, 51, 119, 0.816), rgba(29, 45, 87, 0.808), rgba(29, 14, 56, 0.855));
  display: flex;
  justify-content: center;
  align-items: center;
  .detail-content {
    // display:none;
    position: relative;
    width: 80%;
    height: 90%;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37), 0 6px 12px rgba(0, 0, 0, 0.5);
    animation: scaleExpand 0.3s;
    display: flex;
    flex-wrap: wrap;
    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-100%);
      font-size: 2em;
      color: #999;
      &:hover,
      &:active {
        cursor: pointer;
        color: #999+50%;
      }
    }
    section {
      &.detail-img {
        flex: 60%;
        display: flex;
        flex-direction: column;
        .img-show {
          flex: 7;
          
          display: flex;
          justify-content: center;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          z-index: 1;
          img {
            width: 100%;
            max-height: 100%;
            max-width: 100%;
          }
        }
        .img-group {
          flex: 2;
          background: rgb(240, 240, 240);
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          .btn {
            padding: 1em;
            background-color: #424242;
            color: #fff; // align-self: center;
            display: flex;
            align-items: center;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            transition:0.2s ease-in;
            &:hover,
            &:active {
              cursor: pointer;
              background-color: #949494;
              color: #333;
            }
          }
          .img-slider {
            margin: 0.5em 0;
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            div {
              width: 25.5%;
              flex-shrink: 0;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
              background-color: #585858;
              margin: 0.5em;
              filter:brightness(90%);
              transition: 0.2s ease-in;
              img {
                width: 100%;
                max-height: 100%;
                max-width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 2px;
              }
              &:hover {
                cursor: pointer;filter:brightness(110%);
              }
            }
          }
        }
      }
      &.detail-data {
        flex: 40%;
      }
    }
  }
}
// ============================================
// ============================================
// ============================================
// ============================================
// ============================================
// ============================================



/*==================FOOTER====================*/

.footer-main {
  /*this old way to sticky footer*/
  flex-shrink: 0;
  width: 100%;
  background-color: #fffef9;
}

.footer-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0.6em 0;
  color: rgba(0, 0, 0, 0.4);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-txt-head {
  color: rgba(0, 0, 0, 0.7);
}

.footer-grid-nested {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em;
}

.footer-grid-child {
  cursor: pointer;
  grid-column: 5/6;
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}