body{
    background-color:grey;
    text-align:center;
   
}

h1{
    color: #fff;
  }
  ul{
      background-color:#5fc2c2;
     list-style-type: none;
     li{
         background:#fff;
         color:blue;
         margin: 0.5em;
         i{
             background-color:#eee;
             padding:0.5em;
             color:red;
             cursor:pointer;
         }
     }
  }

  .state_container{
      h1{
          color:#342;
      }
      background:#eee;
      padding:1em;
  }
  .click_container{
      background-color:rgb(116, 182, 127);
  }