.button_primary {
  padding: 1em;
  text-align: center;
  background-color: #5266bb;
  color: rgba(255, 255, 255, 0.83);
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .button_primary:hover, .button_primary:active {
    cursor: pointer;
    color: #fff;
    background-color: #758cf5;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45), 0px 5px 15px 0px rgba(0, 0, 0, 0.12); }

.button_reset {
  padding: 1em;
  text-align: center;
  background-color: #d3d3d3;
  color: #444444;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .button_reset:hover, .button_reset:active {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.64);
    background-color: #dddddd;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45), 0px 5px 15px 0px rgba(0, 0, 0, 0.12); }

.between-button {
  padding: 0.5em 0; }
