.button_primary {
  margin-bottom: 0.3em;
  padding: 0.6em;
  text-align: center;
  background-color: #ec407a;
  color: rgba(255, 255, 255, 0.83);
  border-radius: 2px;
  -webkit-box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.2), -0.5px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.2), -0.5px 1px 1px rgba(0, 0, 0, 0.25);
  border: 0.5px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.button_primary:hover {
  color: rgba(255, 255, 255, 0.78);
  background-color: #b4004e;
  -webkit-box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.1), -0.5px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.1), -0.5px 1px 1px rgba(0, 0, 0, 0.15); }

.button_reset {
  margin-bottom: 0.3em;
  padding: 0.6em;
  text-align: center;
  background-color: #cfd8dc;
  color: rgba(0, 0, 0, 0.44);
  border-radius: 2px;
  -webkit-box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.2), -0.5px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.2), -0.5px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.button_reset:hover {
  color: rgba(0, 0, 0, 0.64);
  background-color: #9ea7aa;
  -webkit-box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.1), -0.5px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.1), -0.5px 1px 1px rgba(0, 0, 0, 0.15); }

.between-button {
  padding: 0.5em 0; }
