@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 0; }

.lineemply {
  display: block;
  margin: 0.2em 0;
  padding: 0; }

/*==================TAG SETTINNG=================*/
html {
  height: 100%; }

body {
  /*ตั้งค่าเป็น display flex
  เพื่อให้เรียงลำดับ div ทั้งหมด จาก บนลงล่าง
  แบบ column เอื้อกำนวยในการทำ footer แบบ sticky
  footer จะคงอยู่ด้านลงเสมอ แม้ว่าเนื้อหาใน container body จะเยอะแค่ไหน
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  /*set space-around for footer at bottom*/
  /*justify-content: space-around;*/
  /* Avoid the IE 10-11 `min-height` bug. */
  /**/
  padding: 0;
  margin: 0;
  font-family: 'Kanit',Tahoma,sans-serif;
  background: #ededed; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0;
  list-style: none; }

/*==================CONTAINER=================*/
.container {
  /*old way to sticky footer*/
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 980px;
  margin: 0 auto; }

/*==================NAVBAR=================*/
.navbar {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 8px rgba(0, 0, 0, 0.06);
  position: relative;
  z-index: 2000; }

.navbar-container {
  max-width: 980px;
  margin: 0.2em auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.2em;
  position: relative; }

.navbar-webname {
  margin: 0.2em 0;
  padding: 0.1em 0.5em;
  grid-column: 1/2; }

.navbar-webname-title {
  font-weight: 900;
  font-size: 3.5vmin; }
  .navbar-webname-title .navbar-icon_title {
    display: none; }

.navbar-webname-subtitle {
  padding-top: 0.5em;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6); }

.navbar-link {
  grid-column: 2/6;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  font-size: 13px;
  text-align: center; }
  .navbar-link li {
    position: relative; }
    .navbar-link li a {
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
      text-decoration: none;
      color: rgba(90, 97, 138, 0.7); }

.navbar-link_register {
  font-size: 1em;
  grid-column: 1/2; }

.navbar-link_download {
  grid-column: 2/3; }

.navbar-link_search {
  grid-column: 3/4;
  display: none; }

.navbar-contacts_container {
  grid-column: 4/5; }

.modal-login {
  position: absolute;
  display: block;
  text-align: center;
  padding: 0.6em;
  background-color: #fff;
  color: #fff;
  border-radius: 1px;
  -webkit-box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  left: 0;
  top: -26em;
  z-index: 1500;
  -webkit-transition: top 0.3s ease-in;
  -o-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
  -webkit-transition: -webkit-box-shadow 0;
  transition: -webkit-box-shadow 0;
  -o-transition: box-shadow 0;
  transition: box-shadow 0;
  transition: box-shadow 0, -webkit-box-shadow 0; }
  .modal-login .modal-login_title {
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7); }
  .modal-login .modal-login_sub_title {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    margin: 0.5em; }
  .modal-login form {
    text-align: center;
    display: block; }
  .modal-login input {
    display: block;
    padding: 0.7em;
    margin: 0 auto;
    margin-bottom: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 1em;
    background-color: #f2f2f2;
    width: 100%; }
  .modal-login input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input[type="button"] {
    width: 100%;
    border-radius: 2px;
    border: 0;
    background-color: #3F51B5;
    color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .modal-login input[type="button"]:active {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: #313f8a;
    color: #e4e4e4; }
  .modal-login input[type="submit"]:hover {
    color: #fee;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background-color: #5C6BC0;
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.6); }
  .modal-login .modal-login_link-edite {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1em; }

.modal-login-frame:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 20, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1400; }

.modal-login-frame:target:before {
  display: block; }

.modal-login-frame:target .modal-login {
  top: 2.8em; }

/* +++++++++++++++++ new +++++++++++++++++++  */
.commentuser {
  font-size: 0.8em;
  display: block;
  color: rgba(255, 0, 0, 0.6);
  margin: 0.5em; }

.modal-login-correct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.modal-login-correct img {
  display: block;
  margin: 0 auto;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden; }

.modal-login-correct .modal-login-correct_title {
  font-size: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0.5em; }

.modal-login-correct .modal-login-correct_sub_title {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  margin: 0.3em; }

/* +++++++++++++++++ new +++++++++++++++++++  */
/*==================Modal download=================*/
.modal-download:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 20, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1400; }

.modal-download:target .modal-download_container {
  top: 3.5em; }

.modal-download:target:before {
  display: block; }

.modal-download_container {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  z-index: 1500;
  padding: 0.6em;
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(315deg, #283593, #3949ab, #2979ff, #40c4ff);
  background: -o-linear-gradient(315deg, #283593, #3949ab, #2979ff, #40c4ff);
  background: linear-gradient(135deg, #283593, #3949ab, #2979ff, #40c4ff);
  position: absolute;
  left: 0;
  top: -25em;
  -webkit-transition: top 0.3s ease-in;
  -o-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in; }
  .modal-download_container button {
    width: 100%;
    background-color: #212121;
    outline: none;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    margin: 0.5em 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
  .modal-download_container button:hover {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
    background-color: #111111; }
  .modal-download_container .bt-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5em; }
    .modal-download_container .bt-container .download-icon {
      max-width: 80px;
      max-height: 80px; }
      .modal-download_container .bt-container .download-icon img {
        width: 100%; }
  .modal-download_container .download-icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .modal-download_container .download-text {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.7em; }
    .modal-download_container .download-text .download-text_secondary {
      color: rgba(255, 255, 255, 0.5); }
    .modal-download_container .download-text .download-text_primary {
      margin-top: 0.3em;
      color: rgba(255, 255, 255, 0.9); }

.t-close {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1.7em;
  background-color: transparent;
  border-top: 0px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #bf4848;
  border-right: 6px solid transparent; }

.bt-closemodal {
  margin: 0 auto;
  text-align: center;
  color: #bf4848;
  padding-top: 1em;
  font-size: 0.9em; }

.ttt {
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  left: 45%;
  top: 1em;
  background-color: transparent;
  border-top: 10px solid #607D8B;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent; }

.navbar-link_search form input[type="search"] {
  position: relative;
  width: 10em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  color: #111;
  background: url(/assets/imgs/icon/ic_search_black_18dp_1x.png) no-repeat scroll 7px 7px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 0.5em 0;
  padding-left: 1.6em;
  border: 1px solid rgba(66, 76, 135, 0.7);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  border-radius: 30px;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar-link_search .form-search input[type="search"]:focus {
  background: url(/assets/imgs/icon/ic_search_black_18dp_1x.png) no-repeat scroll -20px 7px;
  padding-left: 0.5em;
  background-color: rgba(249, 249, 249, 0.5); }

.navbar-link_search .form-search input[type="search"]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.4); }

.navbar-link .navbar-link_register a :hover {
  color: #424c87; }

.setfont-icon {
  font-size: 1.5em; }

.label-app {
  position: relative;
  top: -0.2em; }

.navbar-contacts {
  grid-column: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .navbar-contacts li.navbar-contact-child {
    padding: 0; }

.navbar-contact-child {
  padding: 0; }

.navbar-contact-icon {
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
  background-color: #e0e3e9;
  color: rgba(0, 0, 0, 0.7); }

.navbar-contact-icon:hover {
  background-color: #e6eaf5;
  color: rgba(0, 0, 0, 0.7); }

/*============NAVBAR HAMBURGER=================*/
.navbar-hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0.5em 0.1em;
  padding: 0.2em 0.2em;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.arrow-hamburger {
  position: relative;
  display: block;
  width: 1px;
  margin: 0 auto;
  margin-bottom: 0.2em;
  border-top: 7px solid #283747;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.button_hamburger {
  position: relative;
  width: 1.7em;
  height: 4px;
  background-color: #566573;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.navbar-hamburger.active .button_hamburger {
  background-color: #878e96;
  -webkit-transform: translateY(2em);
  -ms-transform: translateY(2em);
  transform: translateY(2em); }

.navbar-hamburger.active .arrow-hamburger {
  border-top: 0 solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #283747;
  margin: auto;
  margin-top: 0.6em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/*=========================================*/
/*==================BANNER====================*/
.banner {
  border-radius: 1px;
  position: relative;
  margin: 1em 0; }

.banner-container-grid {
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0.5em;
  z-index: 1000; }

.banner-menu {
  font-family: 'Anton', sans-serif;
  position: relative;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1px; }

.banner-menu_item {
  min-height: 100px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }
  .banner-menu_item img {
    display: block;
    margin: auto;
    width: 60%;
    height: 60%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.banner-menu_item:hover {
  opacity: 0.6;
  background-color: #eee;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35); }
  .banner-menu_item:hover img {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); }

.banner-slideshow {
  min-height: 200px;
  max-height: 300px;
  background-image: url("/assets/imgs/background/bg-banner-top03.jpg");
  background-repeat: round;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  grid-column: 5/11; }

/*=================MARKET HEADER====================*/
.market {
  color: #fff; }

.market-header {
  height: auto;
  display: grid;
  text-align: center;
  background-color: #37474f;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.363);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.363);
  position: relative;
  z-index: 100;
  grid-template-columns: repeat(5, 1fr); }

.market-header-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: auto;
  max-width: 70px;
  max-height: 70px;
  overflow: hidden;
  padding: 0.5em; }

.market-header img {
  width: 80%;
  height: 80%; }

.market-header-title {
  grid-column: 2/6;
  margin: auto;
  font-size: 1.5em; }

.market-filter {
  background-color: #f4f8fc;
  color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.6em;
  -webkit-box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.45);
  margin-bottom: 1em;
  padding: 0.5em 0.2em; }
  .market-filter section {
    padding: 0.5em;
    border-radius: 0.2em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden; }
    .market-filter section header {
      font-size: 1em;
      font-weight: 450;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0.4em; }
    .market-filter section article {
      font-size: 0.9em; }
      .market-filter section article input[type=text], .market-filter section article input[type=number] {
        width: 100%;
        margin-bottom: 0.3em;
        padding: 0.3em;
        font-family: inherit; }
    .market-filter section select {
      width: 100%;
      font-family: inherit;
      margin-bottom: 0.4em;
      padding: 0.3em 0; }
  .market-filter section:hover {
    background-color: #546e7a;
    color: #fff; }
    .market-filter section:hover header {
      color: #fff; }
  .market-filter section.market-filter_range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .market-filter section.market-filter_range div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      /* For Firefox */ }
      .market-filter section.market-filter_range div input {
        width: 4em; }
      .market-filter section.market-filter_range div input[type='number'] {
        -moz-appearance: textfield; }
      .market-filter section.market-filter_range div input[type=number]::-webkit-inner-spin-button,
      .market-filter section.market-filter_range div input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }

/*=================MARKET BODY (CARD)====================*/
.market-item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.6em;
  margin-bottom: 1em; }

.card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  top: 0;
  overflow: hidden; }
  .card a {
    text-decoration: none; }

.card:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17), 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17), 0 6px 12px rgba(0, 0, 0, 0.3);
  top: -1px; }

.card:hover .card-image img {
  -webkit-filter: brightness(120%);
  filter: brightness(120%); }

.card-image {
  height: 200px;
  overflow: hidden;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s; }

.card-image img {
  -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
  transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
  -o-transition: filter 0.2s, transform 0.2s;
  transition: filter 0.2s, transform 0.2s;
  transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  width: 100%;
  height: 100%; }

.card:hover .card-image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.card-total {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  font-size: 0.7em;
  border-radius: 50%;
  background-color: #5C6BC0;
  color: #fff; }

.card-body {
  position: relative;
  background-color: #fff;
  color: #212121;
  -webkit-transition: height 0.2s, top 0.2s;
  -o-transition: height 0.2s, top 0.2s;
  transition: height 0.2s, top 0.2s;
  padding: 0.5em; }

.card:hover .card-body .card-body_name {
  color: #3a64f0; }

.card:hover .card-body_price .card-body_price__discounted {
  color: #fa423e; }

.card-body .card-body_label {
  position: absolute;
  left: 0;
  top: -25px;
  padding: 0.5em 0.5em;
  color: #fff;
  background-color: #EF5350;
  font-size: 0.8em;
  text-transform: uppercase; }

.card-body .card-body_name {
  color: rgba(58, 74, 240, 0.7);
  font-size: 2.2vmin;
  font-weight: bold; }
  .card-body .card-body_name h3 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }

.card-body .card-body_id {
  font-size: 1.3vmin;
  padding-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.5); }

.card-body_price {
  font-size: 2.4vmin;
  background-color: #fff; }
  .card-body_price .card-body_price__original {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: line-through; }
  .card-body_price .card-body_price__discounted {
    color: rgba(250, 66, 62, 0.8); }

/*==================FOOTER====================*/
.footer-main {
  /*this old way to sticky footer*/
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: #fffef9; }

.footer-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0.6em 0;
  color: rgba(0, 0, 0, 0.4); }

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.footer-txt-head {
  color: rgba(0, 0, 0, 0.7); }

.footer-grid-nested {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em; }

.footer-grid-child {
  grid-column: 5/6;
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); }
