@charset "UTF-8";
/*==================TAG SETTINNG=================*/
html {
  height: 100%; }

body {
  /*ตั้งค่าเป็น display flex
  เพื่อให้เรียงลำดับ div ทั้งหมด จาก บนลงล่าง
  แบบ column เอื้อกำนวยในการทำ footer แบบ sticky
  footer จะคงอยู่ด้านลงเสมอ แม้ว่าเนื้อหาใน container body จะเยอะแค่ไหน
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  /*set space-around for footer at bottom*/
  /*justify-content: space-around;*/
  /* Avoid the IE 10-11 `min-height` bug. */
  /**/
  padding: 0;
  margin: 0;
  font-family: 'Kanit', Tahoma, sans-serif;
  background: #ededed; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0;
  list-style: none; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4); }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4); }

input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.4); }

input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4); }

/*==================CONTAINER=================*/
.container {
  /*old way to sticky footer*/
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 980px;
  margin: 0 auto; }

/*==================NAVBAR=================*/
.navbar {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2), 5px 5px 10px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2), 5px 5px 10px 5px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 2000; }

.navbar-container {
  max-width: 980px;
  margin: 0.3em auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.2em;
  position: relative; }

.navbar-webname {
  margin: 0.2em 0;
  padding: 0.1em 0.5em;
  grid-column: 1/2;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
  cursor: pointer; }

.navbar-webname-title {
  font-weight: 900;
  font-size: 3.5vmin; }
  .navbar-webname-title .navbar-icon_title {
    display: none; }

.navbar-webname-subtitle {
  padding-top: 0.5em;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6); }

.navbar-link {
  grid-column: 4/7;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  font-size: 13px;
  text-align: center; }
  .navbar-link li {
    position: relative; }
    .navbar-link li a {
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
      text-decoration: none;
      color: rgba(90, 97, 138, 0.7); }

.navbar-link_register {
  font-size: 1em;
  grid-column: 1/2; }

.navbar-link_register:hover,
.navbar-link_register:focus {
  cursor: pointer; }

.navbar-link_download {
  grid-column: 2/3; }

.navbar-link_download:hover,
.navbar-link_download:focus {
  cursor: pointer; }

.navbar-link_search {
  display: none; }

.navbar-contacts_container {
  grid-column: 3/4; }

@-webkit-keyframes modal-fadein {
  from {
    opacity: 0;
    top: -50%; }
  to {
    opacity: 1;
    top: 0%; } }

@keyframes modal-fadein {
  from {
    opacity: 0;
    top: -50%; }
  to {
    opacity: 1;
    top: 0%; } }

.modal-login {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal-login .modal-login_content {
    position: relative;
    width: 300px;
    margin: 5% auto;
    padding: 1.5em;
    background: -webkit-linear-gradient(315deg, #bfe6ec, #72a8d4, #3d5599, #232e50);
    background: -o-linear-gradient(315deg, #bfe6ec, #72a8d4, #3d5599, #232e50);
    background: linear-gradient(135deg, #bfe6ec, #72a8d4, #3d5599, #232e50);
    border-radius: 0.2em;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    -webkit-animation: modal-fadein 0.3s;
    animation: modal-fadein 0.3s; }
    .modal-login .modal-login_content input,
    .modal-login .modal-login_content button {
      cursor: pointer;
      width: 100%; }
    .modal-login .modal-login_content .modal-close-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .modal-login .modal-login_content .modal-close-container .modal-btn-close {
        font-size: 2em;
        color: rgba(0, 0, 0, 0.3); }
      .modal-login .modal-login_content .modal-close-container .modal-btn-close:hover,
      .modal-login .modal-login_content .modal-close-container .modal-btn-close:focus {
        color: #212121;
        cursor: pointer; }
  .modal-login .modal-login_title {
    font-size: 1.3em;
    font-weight: bold;
    color: #fcfcfc; }
  .modal-login .modal-login_sub_title {
    font-size: 1em;
    color: #ebebeb;
    margin: 0.5em; }
  .modal-login form {
    text-align: center;
    display: block; }
  .modal-login input {
    display: block;
    padding: 0.7em;
    margin: 0.5em auto;
    margin-bottom: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 1em;
    background-color: #f2f2f2; }
  .modal-login input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.4); }
  .modal-login button {
    padding: 1em 2em;
    margin: 1em 0;
    border-radius: 2px;
    border: 0;
    background-color: #514FBF;
    color: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .modal-login button:active {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: #5c5f8f;
    color: #e4e4e4; }
  .modal-login button:hover {
    color: #fee;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background-color: #514fca;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6); }
  .modal-login .modal-login_link-edite {
    font-size: 1em;
    color: #eeeeee;
    margin-bottom: 1em; }
    .modal-login .modal-login_link-edite a {
      color: #fff; }
  .modal-login .bt-closemodal {
    margin: 0 auto;
    text-align: center;
    color: #bf4848;
    padding-top: 1em;
    font-size: 0.9em; }

/*==================Modal download=================*/
.modal-download {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden; }

.modal-download_content {
  position: relative;
  display: block;
  width: 300px;
  margin: 5% auto;
  padding: 1.5em;
  color: rgba(0, 0, 0, 0.6);
  background: -webkit-linear-gradient(315deg, #40c4ff, #2979ff, #3949ab, #283593);
  background: -o-linear-gradient(315deg, #40c4ff, #2979ff, #3949ab, #283593);
  background: linear-gradient(135deg, #40c4ff, #2979ff, #3949ab, #283593);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4), 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-animation-name: modal-fadein;
  animation-name: modal-fadein;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s; }
  .modal-download_content .modal-close-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .modal-download_content .modal-close-container .modal-btn-close {
      font-size: 2em;
      color: rgba(200, 200, 200, 0.6); }
    .modal-download_content .modal-close-container .modal-btn-close:hover,
    .modal-download_content .modal-close-container .modal-btn-close:focus {
      color: #212121;
      cursor: pointer; }
  .modal-download_content button {
    width: 100%;
    background-color: #fefefe;
    outline: none;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    margin: 0.5em 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
  .modal-download_content button:hover {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    background-color: #fff; }
  .modal-download_content .bt-download-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5em; }
    .modal-download_content .bt-download-container .download-icon {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 0.5em; }
      .modal-download_content .bt-download-container .download-icon img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%; }
    .modal-download_content .bt-download-container .download-text {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      .modal-download_content .bt-download-container .download-text .download-text_primary {
        font-weight: bold;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.7);
        margin: 0.5em 0; }
      .modal-download_content .bt-download-container .download-text .download-text_secondary {
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.7em; }

.navbar-link_search form input[type="search"] {
  position: relative;
  width: 10em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  color: #111;
  background: url(/assets/imgs/icon/ic_search_black_18dp_1x.png) no-repeat scroll 7px 7px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 0.5em 0;
  padding-left: 1.6em;
  border: 1px solid rgba(66, 76, 135, 0.7);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  border-radius: 30px;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar-link_search .form-search input[type="search"]:focus {
  background: url(/assets/imgs/icon/ic_search_black_18dp_1x.png) no-repeat scroll -20px 7px;
  padding-left: 0.5em;
  background-color: rgba(249, 249, 249, 0.5); }

.navbar-link_search .form-search input[type="search"]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.4); }

.navbar-link .navbar-link_register a :hover {
  color: #424c87; }

.setfont-icon {
  font-size: 1.5em; }

.label-app {
  position: relative;
  top: -0.2em; }

.navbar-contacts {
  grid-column: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .navbar-contacts li.navbar-contact-child {
    padding: 0; }

.navbar-contact-child {
  padding: 0; }

.navbar-contact-icon {
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
  background-color: #e0e3e9;
  color: rgba(0, 0, 0, 0.7); }

.navbar-contact-icon:hover {
  background-color: #e6eaf5;
  color: rgba(0, 0, 0, 0.7); }

/*============NAVBAR HAMBURGER=================*/
.navbar-hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0.5em 0.1em;
  padding: 0.2em 0.2em;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.arrow-hamburger {
  position: relative;
  display: block;
  width: 1px;
  margin: 0 auto;
  margin-bottom: 0.2em;
  border-top: 7px solid #283747;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.button_hamburger {
  position: relative;
  width: 1.7em;
  height: 4px;
  background-color: #566573;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.navbar-hamburger.active .button_hamburger {
  background-color: #878e96;
  -webkit-transform: translateY(2em);
  -ms-transform: translateY(2em);
  transform: translateY(2em); }

.navbar-hamburger.active .arrow-hamburger {
  border-top: 0 solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #283747;
  margin: auto;
  margin-top: 0.6em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/*================================================================================================*/
/*================================================================================================*/
/*================================================================================================*/
/*================================================================================================*/
/*================================================================================================*/
/*==================BANNER====================*/
.banner {
  position: relative;
  margin: 1em 0; }

.banner-container-grid {
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5em; }

.banner-slideshow_promotion {
  max-height: 240px;
  grid-column: 1/8;
  position: relative;
  display: grid;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45); }
  .banner-slideshow_promotion .promotion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    white-space: nowrap; }
    .banner-slideshow_promotion .promotion-container .promotion-item {
      opacity: 0.7;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
      height: inherit;
      overflow: hidden; }
      .banner-slideshow_promotion .promotion-container .promotion-item img {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.452);
        box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.452);
        border-radius: 2px; }
      .banner-slideshow_promotion .promotion-container .promotion-item:last-child {
        padding-right: 0; }
    .banner-slideshow_promotion .promotion-container .promotion-item:hover {
      opacity: 1;
      z-index: 1;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  .banner-slideshow_promotion .slideshow_promotion-title {
    padding: 1em;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#e2dc88), color-stop(#e03838), color-stop(#7842ce), to(#2f5dbe));
    background: -webkit-linear-gradient(left, #e2dc88, #e03838, #7842ce, #2f5dbe);
    background: -o-linear-gradient(left, #e2dc88, #e03838, #7842ce, #2f5dbe);
    background: linear-gradient(to right, #e2dc88, #e03838, #7842ce, #2f5dbe);
    background-size: 400% 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.452);
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.452);
    -webkit-animation: gradiantAnimate 10s ease infinite;
    animation: gradiantAnimate 10s ease infinite; }

@-webkit-keyframes gradiantAnimate {
  0% {
    background-position: 0%; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }

@keyframes gradiantAnimate {
  0% {
    background-position: 0%; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }
  .banner-slideshow_promotion .slideshow_promotion-btn {
    background-color: #ececec;
    color: #333;
    position: absolute;
    border: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1em;
    outline: none;
    opacity: 0.5;
    z-index: 1; }
    .banner-slideshow_promotion .slideshow_promotion-btn:hover {
      cursor: pointer;
      background-color: #eeeeee;
      color: #000;
      opacity: 1; }
  .banner-slideshow_promotion #btnBack {
    left: 0; }
  .banner-slideshow_promotion #btnNext {
    right: 0; }

.banner-slideshow {
  grid-column: 8/13;
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
  position: relative; }
  .banner-slideshow img {
    display: block;
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    z-index: 0; }
  .banner-slideshow .slideshow-btn {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1em; }
  .banner-slideshow .slideshow-btn:focus {
    outline: none; }
  .banner-slideshow .slideshow-btn:hover,
  .banner-slideshow .slideshow-btn:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9); }
  .banner-slideshow #slideShowBtnBack {
    left: 0; }
  .banner-slideshow #slideShowBtnNext {
    right: 0; }
  .banner-slideshow .slideshow-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.5em;
    background-color: rgba(255, 255, 255, 0.1); }
    .banner-slideshow .slideshow-selector span {
      color: rgba(0, 0, 0, 0.6);
      margin: 0 2px; }
    .banner-slideshow .slideshow-selector span:hover,
    .banner-slideshow .slideshow-selector span:active {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.9); }
    .banner-slideshow .slideshow-selector span.activee span {
      color: #fff; }

.menu {
  position: relative;
  margin-bottom: 1em; }
  .menu .menu-products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2px; }
    .menu .menu-products .menu-item {
      max-height: 80px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.45);
      background: #ffffff;
      padding: 0.5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer;
      position: relative; }
      .menu .menu-products .menu-item img {
        display: block;
        margin: auto;
        width: 70%;
        height: 70%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .menu .menu-products .menu-item figcaption {
        margin-top: 0.5em;
        text-align: center;
        font-size: 0.8em;
        color: #424242; }
      .menu .menu-products .menu-item:hover {
        background-color: #ededed;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.35); }
        .menu .menu-products .menu-item:hover img {
          -webkit-transform: scale(0.97);
          -ms-transform: scale(0.97);
          transform: scale(0.97); }

/*=================MARKET HEADER====================*/
.market {
  color: #fff;
  position: relative; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.progress-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  display: none;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.8); }

.progress-bar-border {
  width: 50%;
  border: 1px solid #fff;
  border-radius: 0.1em;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 25%; }
  .progress-bar-border .progress-bar_button-close {
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 2em;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    cursor: pointer; }

.progress-bar {
  border: 0.5em solid rgba(29, 29, 29, 0.671);
  background-color: #212121;
  border-radius: 0.1em;
  width: 0; }

.market-body {
  padding-top: 0.25em;
  position: relative; }

.market-header {
  height: auto;
  display: grid;
  text-align: center;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 1em;
  z-index: 2; }

.market-header_titlebar {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: -webkit-gradient(linear, left top, right top, from(#636681), to(#292c4c));
  background: -webkit-linear-gradient(left, #636681, #292c4c);
  background: -o-linear-gradient(left, #636681, #292c4c);
  background: linear-gradient(to right, #636681, #292c4c);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35), 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35), 0px 5px 20px 0px rgba(0, 0, 0, 0.15); }

.market-header_titlebar-button {
  display: none;
  grid-column: 5/6;
  margin: auto;
  overflow: hidden;
  padding: 7%;
  background: -webkit-gradient(linear, left top, right top, from(#EC407A), to(#D81B60));
  background: -webkit-linear-gradient(left, #EC407A, #D81B60);
  background: -o-linear-gradient(left, #EC407A, #D81B60);
  background: linear-gradient(to right, #EC407A, #D81B60);
  border-radius: 100%;
  max-width: 60px;
  max-height: 60px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35), 5px 5px 10px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35), 5px 5px 10px 5px rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative; }
  .market-header_titlebar-button img {
    width: 100%;
    height: 100%; }

.market-header_titlebar-button:hover,
.market-header_titlebar-button:active {
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#f0447d), to(#e71c67));
  background: -webkit-linear-gradient(left, #f0447d, #e71c67);
  background: -o-linear-gradient(left, #f0447d, #e71c67);
  background: linear-gradient(to right, #f0447d, #e71c67);
  cursor: pointer;
  top: -0.5px; }

.market-header_titlebar-title {
  grid-column: 2/5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  margin: 0.7em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes fadeToRight {
  from {
    opacity: 0;
    left: -50%; }
  to {
    opacity: 1;
    left: 0%; } }

@keyframes fadeToRight {
  from {
    opacity: 0;
    left: -50%; }
  to {
    opacity: 1;
    left: 0%; } }

.market-filterbar {
  grid-column: 1/6; }
  .market-filterbar .filterbar-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6em;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    text-align: left;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25), 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25), 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-animation: fadeToRight 0.3s;
    animation: fadeToRight 0.3s; }
  .market-filterbar div {
    grid-column: 1/6;
    text-align: center; }
  .market-filterbar section {
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .market-filterbar section header {
      font-size: 1em;
      font-weight: 450;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0.4em; }
    .market-filterbar section article {
      font-size: 0.9em; }
      .market-filterbar section article input[type=text],
      .market-filterbar section article input[type=number] {
        width: 100%;
        margin-bottom: 0.3em;
        padding: 0.3em;
        font-family: inherit; }
    .market-filterbar section select {
      width: 100%;
      font-family: inherit;
      margin-bottom: 0.4em;
      padding: 0.3em 0; }
  .market-filterbar section:hover {
    background-color: #889fb3;
    color: #fff; }
    .market-filterbar section:hover header {
      color: #fff; }
  .market-filterbar section.filterbar_type article div {
    text-align: left; }
  .market-filterbar section.filterbar_range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .market-filterbar section.filterbar_range div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      /* For Firefox */ }
      .market-filterbar section.filterbar_range div input {
        width: 4em; }
      .market-filterbar section.filterbar_range div input[type='number'] {
        -moz-appearance: textfield; }
      .market-filterbar section.filterbar_range div input[type=number]::-webkit-inner-spin-button,
      .market-filterbar section.filterbar_range div input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
  .market-filterbar section.filterbar_submit article {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .market-filterbar section.filterbar_submit article div:nth-child(1) {
      margin-bottom: 0.5em; }
  .market-filterbar section.filterbar_submit:hover {
    background-color: #fff; }
    .market-filterbar section.filterbar_submit:hover header {
      font-size: 1em;
      font-weight: 450;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0.4em; }

/*=================MARKET BODY (CARD)====================*/
.market-item-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 0.2em;
  margin-bottom: 1em; }

.card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  color: initial;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .card:hover, .card:active {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17), 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17), 0 6px 12px rgba(0, 0, 0, 0.3);
    top: -1px;
    cursor: pointer; }
  .card:hover .card-image img {
    -webkit-filter: brightness(120%);
    filter: brightness(120%); }
  .card .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 180px;
    overflow: hidden; }
    .card .card-image img {
      width: auto;
      height: 100%; }
  .card .card-label {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1;
    font-size: 0.9em; }
    .card .card-label .label-status {
      background: #F44336;
      padding: 0.5em;
      -ms-flex-item-align: center;
      align-self: center;
      color: #fff; }
    .card .card-label .label-total {
      padding: 0.5em;
      margin: 0.5em;
      background: #3F51B5;
      color: #fff;
      border-radius: 50%; }
  .card .card-body {
    padding: 0.5em; }
    .card .card-body .id {
      opacity: 0.6;
      font-size: 0.6rem; }
    .card .card-body .name {
      margin-bottom: 0.5em; }
      .card .card-body .name h3 {
        color: #2a39b1;
        white-space: no-wrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 1rem; }
    .card .card-body .price .price_original {
      color: #26007e; }
    .card .card-body .price .price_prediscount {
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
      color: #464646; }
    .card .card-body .price .price_discounted {
      color: #db4545; }

@-webkit-keyframes scaleExpand {
  from {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes scaleExpand {
  from {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

.product-detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .product-detail .detail-content {
    position: relative;
<<<<<<< HEAD
    width: 75%;
=======
    width: 100%;
>>>>>>> 39577e56816bf4641da5b6121fbbaa1079cf6ab4
    height: 90%;
    max-width: 980px;
    margin: 0 auto;
    border-radius: 1px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37), 0 6px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37), 0 6px 12px rgba(0, 0, 0, 0.5);
    -webkit-animation: scaleExpand 0.3s;
    animation: scaleExpand 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .product-detail .detail-content .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      font-size: 2em;
      color: #999; }
      .product-detail .detail-content .close-btn:hover, .product-detail .detail-content .close-btn:active {
        cursor: pointer;
        color: #cbcbcb; }
    .product-detail .detail-content section.detail-img {
      -webkit-box-flex: 60%;
      -ms-flex: 60%;
      flex: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
      z-index: 1; }
      .product-detail .detail-content section.detail-img .img-show {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        z-index: 1;
        background-image: url("https://cdn.shopify.com/s/files/1/0880/2454/products/fit-7_grande.jpeg?v=1459382512");
        background-position: center;
        background-repeat: center;
        background-size: cover; }
        .product-detail .detail-content section.detail-img .img-show::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #000;
          opacity: 0.5; }
        .product-detail .detail-content section.detail-img .img-show img {
          width: auto;
          max-height: 100%;
          -o-object-fit: scale-down;
          object-fit: scale-down;
          z-index: 2; }
      .product-detail .detail-content section.detail-img .img-group {
<<<<<<< HEAD
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        background: #cecece;
=======
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        background: #c4c4c4;
>>>>>>> 39577e56816bf4641da5b6121fbbaa1079cf6ab4
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-height: 100%;
        overflow: hidden; }
        .product-detail .detail-content section.detail-img .img-group .btn {
          padding: 1em;
          background-color: #424242;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          -webkit-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          transition: 0.2s ease; }
          .product-detail .detail-content section.detail-img .img-group .btn:hover, .product-detail .detail-content section.detail-img .img-group .btn:active {
            cursor: pointer;
            background-color: #949494;
            color: #333; }
        .product-detail .detail-content section.detail-img .img-group .img-slider {
          padding: 0.5em 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: hidden;
          /* Track */
          /* Handle */
          /* Handle on hover */
          width: 100%; }
          .product-detail .detail-content section.detail-img .img-group .img-slider::-webkit-scrollbar {
            height: 1em; }
          .product-detail .detail-content section.detail-img .img-group .img-slider::-webkit-scrollbar-track {
            background: #f1f1f1; }
          .product-detail .detail-content section.detail-img .img-group .img-slider::-webkit-scrollbar-thumb {
            background: #888; }
          .product-detail .detail-content section.detail-img .img-group .img-slider::-webkit-scrollbar-thumb:hover {
            background: #555; }
          .product-detail .detail-content section.detail-img .img-group .img-slider div {
            width: 21%;
            max-width: 21%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            background-color: #585858;
<<<<<<< HEAD
            margin: 0.5em;
            -webkit-filter: brightness(100%);
            filter: brightness(100%);
            -webkit-transition: 0.1s ease;
            -o-transition: 0.1s ease;
            transition: 0.1s ease; }
=======
            margin: 0.2em;
            -webkit-filter: brightness(95%);
            filter: brightness(95%);
            -webkit-transition: 0.1s ease;
            -o-transition: 0.1s ease;
            transition: 0.1s ease;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .product-detail .detail-content section.detail-img .img-group .img-slider div:active {
              border: 2px solid #4769d8;
              border-radius: 2px; }
            .product-detail .detail-content section.detail-img .img-group .img-slider div.active {
              border: 2px solid #4464cc;
              border-radius: 2px; }
>>>>>>> 39577e56816bf4641da5b6121fbbaa1079cf6ab4
            .product-detail .detail-content section.detail-img .img-group .img-slider div img {
              width: auto;
              height: 100%;
              max-width: 100%;
              max-height: 100%;
              border-radius: 2px; }
            .product-detail .detail-content section.detail-img .img-group .img-slider div:hover {
              cursor: pointer;
              -webkit-filter: brightness(115%);
              filter: brightness(115%); }
    .product-detail .detail-content section.detail-data {
      -webkit-box-flex: 40%;
      -ms-flex: 40%;
      flex: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden;
      z-index: 2;
      -webkit-box-shadow: -2px 10px 20px rgba(0, 0, 0, 0.19), -4px 6px 6px rgba(0, 0, 0, 0.23);
      box-shadow: -2px 10px 20px rgba(0, 0, 0, 0.19), -4px 6px 6px rgba(0, 0, 0, 0.23); }
      .product-detail .detail-content section.detail-data .detail-titlebar {
        padding: 1em;
        padding-bottom: 1.5em;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        background: -webkit-gradient(linear, left top, right top, from(#1a1c86), color-stop(#4c1975), color-stop(#9321b6), to(#d32660));
        background: -webkit-linear-gradient(left, #1a1c86, #4c1975, #9321b6, #d32660);
        background: -o-linear-gradient(left, #1a1c86, #4c1975, #9321b6, #d32660);
        background: linear-gradient(to right, #1a1c86, #4c1975, #9321b6, #d32660);
        z-index: 3; }
        .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/55/63/32579cc0c3d1b43.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0.2;
          z-index: 1; }
        .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content {
          font-family: inherit;
          position: relative;
          z-index: 2;
          color: white; }
          .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .status {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-bottom: 0.3em; }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .status div {
              font-size: 0.8em;
              padding: 0.3em 1em;
              border-radius: 1em;
              margin-right: 0.2em;
              margin-bottom: 0.2em; }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .status .hot {
              background-color: rgba(44, 255, 150, 0.5); }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .status .sell {
              background-color: rgba(243, 57, 10, 0.6); }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .status .normal {
              background-color: rgba(45, 223, 255, 0.5); }
          .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .titlebar-name {
            font-size: 1.2em;
            color: #FFEC79;
            margin-bottom: 1.2em; }
          .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .titlebar-id {
            font-size: 0.8em;
            color: #ddd;
            font-weight: lighter; }
          .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-transpot {
            font-size: 0.8em;
            font-weight: lighter;
            color: #ddd;
            margin-bottom: 0.4em; }
          .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number {
            font-size: 1.3em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number div {
              background-color: white;
              padding: 0.5em 1em; }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number .number-normal {
              color: #2bdf85; }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number .number-sell {
              color: #e43f3f; }
              .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number .number-sell span {
                font-size: 0.8em;
                text-decoration: line-through;
                color: #212121;
                opacity: 0.7; }
            .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number .button-confirmbuy {
              font-size: 1em;
              background: #dd3d32;
              -webkit-transition: 0.1s ease;
              -o-transition: 0.1s ease;
              transition: 0.1s ease;
              font-weight: lighter;
              -webkit-box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.12), -1px 5px 10px rgba(0, 0, 0, 0.24);
              box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.12), -1px 5px 10px rgba(0, 0, 0, 0.24); }
              .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number .button-confirmbuy:hover, .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number .button-confirmbuy:active {
                background: #eb4539;
                -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                cursor: pointer; }
      .product-detail .detail-content section.detail-data .detail-body {
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .product-detail .detail-content section.detail-data .detail-body .tabbar {
          -ms-flex-negative: 0;
          flex-shrink: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          z-index: 2; }
          .product-detail .detail-content section.detail-data .detail-body .tabbar button {
            width: 100%;
            padding: 1em 0;
            border: none;
            text-decoration: none;
            outline: none;
            color: #616161;
            background-color: #e9e9e9;
            -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12), 0 0px 1px rgba(0, 0, 0, 0.24);
            box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12), 0 0px 1px rgba(0, 0, 0, 0.24);
            z-index: 1; }
            .product-detail .detail-content section.detail-data .detail-body .tabbar button i {
              font-size: 1.4em; }
            .product-detail .detail-content section.detail-data .detail-body .tabbar button:active, .product-detail .detail-content section.detail-data .detail-body .tabbar button:hover {
              cursor: pointer; }
            .product-detail .detail-content section.detail-data .detail-body .tabbar button.active {
              background-color: #fff;
              color: #222;
              font-weight: bold;
              -webkit-box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.06), 1px -2px 2px rgba(0, 0, 0, 0.12), -2px -2px 3px rgba(0, 0, 0, 0.12), -1px -2px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.06), 1px -2px 2px rgba(0, 0, 0, 0.12), -2px -2px 3px rgba(0, 0, 0, 0.12), -1px -2px 2px rgba(0, 0, 0, 0.24);
              border-bottom: none;
              z-index: 2; }
              .product-detail .detail-content section.detail-data .detail-body .tabbar button.active i {
                color: #4537c2; }
        .product-detail .detail-content section.detail-data .detail-body .body-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          overflow: hidden; }
          .product-detail .detail-content section.detail-data .detail-body .body-container div.content,
          .product-detail .detail-content section.detail-data .detail-body .body-container div.rating {
            padding: 1em;
            color: #666;
            width: 100%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            z-index: 1;
            background-color: #fff;
            padding-bottom: 2em;
            overflow-y: auto; }
            .product-detail .detail-content section.detail-data .detail-body .body-container div.content .content-type > div,
            .product-detail .detail-content section.detail-data .detail-body .body-container div.rating .content-type > div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .product-detail .detail-content section.detail-data .detail-body .body-container div.content .content-type > div span,
              .product-detail .detail-content section.detail-data .detail-body .body-container div.rating .content-type > div span {
                background-color: #d9e2f8;
                padding: 0.2em 0.6em;
                margin-right: 0.2em;
                margin-bottom: 0.2em;
                border-radius: 1em; }
            .product-detail .detail-content section.detail-data .detail-body .body-container div.content .content-payment > div,
            .product-detail .detail-content section.detail-data .detail-body .body-container div.rating .content-payment > div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .product-detail .detail-content section.detail-data .detail-body .body-container div.content .content-payment > div span,
              .product-detail .detail-content section.detail-data .detail-body .body-container div.rating .content-payment > div span {
                background-color: #cefdfb;
                padding: 0.2em 0.6em;
                margin-right: 0.2em;
                margin-bottom: 0.2em;
                border-radius: 1em; }
            .product-detail .detail-content section.detail-data .detail-body .body-container div.content .content-transpot > div,
            .product-detail .detail-content section.detail-data .detail-body .body-container div.rating .content-transpot > div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .product-detail .detail-content section.detail-data .detail-body .body-container div.content .content-transpot > div span,
              .product-detail .detail-content section.detail-data .detail-body .body-container div.rating .content-transpot > div span {
                background-color: #f1e3d3;
                padding: 0.2em 0.6em;
                margin-right: 0.2em;
                margin-bottom: 0.2em;
                border-radius: 1em; }
            .product-detail .detail-content section.detail-data .detail-body .body-container div.content header,
            .product-detail .detail-content section.detail-data .detail-body .body-container div.rating header {
              color: #333;
              margin-bottom: 0.5em;
              font-size: 1.05em; }
          .product-detail .detail-content section.detail-data .detail-body .body-container .content {
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
            .product-detail .detail-content section.detail-data .detail-body .body-container .content > div {
              margin-bottom: 1em; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .content > div div {
                margin: 0.3em 0.8em; }
          .product-detail .detail-content section.detail-data .detail-body .body-container .rating {
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
            .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-point {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-point .point-icon i {
                margin-right: 0.1em; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-point .point-detail span {
                color: #2979ff; }
            .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-comment .comment-item {
              margin-bottom: 0.5em;
              padding: 0.5em;
              border-radius: 1px;
              background: #f0efe8; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-comment .comment-item .item-name {
                color: #333;
                font-size: 1.05em;
                margin-bottom: 0.2em; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-comment .comment-item .item-point {
                margin-bottom: 0.5em;
                font-size: 0.8em;
                opacity: 0.9; }
                .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-comment .comment-item .item-point span {
                  color: #5379bb; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-comment .comment-item .item-conment {
                color: #666;
                font-size: 0.9em;
                margin-bottom: 0.5em; }
              .product-detail .detail-content section.detail-data .detail-body .body-container .rating .rating-comment .comment-item .item-date {
                color: #666;
                opacity: 0.9;
                font-size: 0.8em; }

/*==================FOOTER====================*/
.footer-main {
  /*this old way to sticky footer*/
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: #fffef9; }

.footer-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0.6em 0;
  color: rgba(0, 0, 0, 0.4); }

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.footer-txt-head {
  color: rgba(0, 0, 0, 0.7); }

.footer-grid-nested {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em; }

.footer-grid-child {
  cursor: pointer;
  grid-column: 5/6;
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); }
