@charset "UTF-8";
@media only screen and (max-width: 650px) {
  .navbar {
    padding: 0 0.5em; }
  .navbar-webname {
    text-align: left; }
    .navbar-webname .navbar-icon_title {
      margin: 0.3em;
      display: inline;
      font-size: 1em;
      position: relative; }
  .navbar-webname-subtitle::after {
    display: none; }
  .navbar-webname-subtitle span {
    display: block; }
  .navbar-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    right: 0;
    margin: -0.1em;
    top: -33em;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .navbar-link.active {
      opacity: 1;
      top: 105%; }
    .navbar-link li {
      display: block;
      width: 100%;
      padding: 0.5em 3em;
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
    .navbar-link li:hover {
      background-color: #dde; }
    .navbar-link .navbar-link_register {
      padding: 1.2em 1em; }
    .navbar-link .navbar-contacts_container ul li {
      border-top: none;
      margin: 0 0.3em; }
  .modal-login .modal-login_content {
    margin: 15% auto;
    width: 60%; }
  .modal-download .modal-download_content {
    margin: 15% auto;
    width: 60%; }
  .navbar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.2em 0; }
    .navbar-hamburger .button_hamburger {
      height: 3px; }
  .banner {
    margin: 0.5em; }
    .banner .banner-container-grid {
      grid-template-rows: 1fr 1fr; }
      .banner .banner-container-grid .banner-slideshow_promotion {
        grid-column: 1/13; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-title {
          padding: 0.7em; }
        .banner .banner-container-grid .banner-slideshow_promotion .promotion-container {
          max-height: 250px; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-btn {
          padding: 0.5em; }
      .banner .banner-container-grid .banner-slideshow {
        grid-column: 1/13;
        padding: 0 15%;
        background-color: #424242; }
        .banner .banner-container-grid .banner-slideshow .slideshow-btn {
          padding: 0.5em; }
        .banner .banner-container-grid .banner-slideshow .slideshow-selector {
          left: 0; }
  .menu {
    margin-bottom: 0.5em; }
    .menu .menu-products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .menu .menu-products section {
        margin: 0.1em;
        width: 15%; }
        .menu .menu-products section img {
          width: 60%;
          height: 60%; }
  .market-header {
    margin: 0.5em; }
    .market-header .market-header_titlebar .market-header_titlebar-title {
      font-size: 1.6em; }
    .market-header .market-header_titlebar .market-header_titlebar-button {
      margin-right: 30%;
      display: block;
      padding: 12%;
      width: 55px;
      height: 55px; }
    .market-header .market-filterbar {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 48, 49, 0.74); }
      .market-header .market-filterbar .filterbar-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        padding-top: 3em;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow-y: scroll; }
  .market-body {
    margin: 0.5em; }
  .market-item-container {
    grid-template-columns: repeat(4, 1fr); }
    .market-item-container .card .card-image {
      max-height: 150px; }
  .product-detail .detail-content {
    height: 85%;
    width: 100%;
    margin: 0 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .product-detail .detail-content section.detail-img {
      z-index: 1; }
      .product-detail .detail-content section.detail-img .img-show {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2; }
        .product-detail .detail-content section.detail-img .img-show::after {
          opacity: 0.8; }
      .product-detail .detail-content section.detail-img .img-group {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        .product-detail .detail-content section.detail-img .img-group .img-slider {
          padding: 0.3em 0.2em; }
          .product-detail .detail-content section.detail-img .img-group .img-slider::-webkit-scrollbar {
            height: 0.5em; }
          .product-detail .detail-content section.detail-img .img-group .img-slider div {
            width: 29%;
            max-width: 29%; }
    .product-detail .detail-content section.detail-data {
      z-index: 2;
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto; }
      .product-detail .detail-content section.detail-data .detail-titlebar {
        z-index: 1;
        padding-bottom: 0.5em;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
        .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .titlebar-name {
          font-size: 1em;
          margin-bottom: 0.5em; }
        .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          font-size: 1em; }
          .product-detail .detail-content section.detail-data .detail-titlebar .titlebar-content .price-number div {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: center; }
      .product-detail .detail-content section.detail-data .detail-body {
        z-index: 4; }
        .product-detail .detail-content section.detail-data .detail-body .tabbar {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          display: none; }
        .product-detail .detail-content section.detail-data .detail-body .tabbar-mobile {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          z-index: 1; }
          .product-detail .detail-content section.detail-data .detail-body .tabbar-mobile button.tabbar-content {
            padding: 0; }
        .product-detail .detail-content section.detail-data .detail-body .body-container {
          z-index: 2;
          display: none;
          width: 100%;
          max-height: 80%;
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 2px; }
          .product-detail .detail-content section.detail-data .detail-body .body-container .close-tab-btn {
            display: block;
            position: absolute;
            font-size: 2em;
            top: 0;
            right: 0;
            padding-right: 0.6em;
            color: #585858;
            z-index: 5; }
            .product-detail .detail-content section.detail-data .detail-body .body-container .close-tab-btn:hover, .product-detail .detail-content section.detail-data .detail-body .body-container .close-tab-btn :active {
              cursor: pointer;
              color: #1f1f1f; }
          .product-detail .detail-content section.detail-data .detail-body .body-container div.content,
          .product-detail .detail-content section.detail-data .detail-body .body-container div.rating {
            padding-top: 2.5em; }
  @-webkit-keyframes slideUp {
    from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  @keyframes slideUp {
    from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
          .product-detail .detail-content section.detail-data .detail-body .body-container .content {
            -webkit-animation: slideUp 0.3s ease;
            animation: slideUp 0.3s ease; }
          .product-detail .detail-content section.detail-data .detail-body .body-container .rating {
            -webkit-animation: slideUp 0.3s ease;
            animation: slideUp 0.3s ease; }
  .footer-container {
    padding: 1em;
    font-size: 2.5vmin; }
  .footer-grid-nested {
    grid-column: 1/6;
    grid-template-columns: repeat(2, 1fr); }
  .footer-grid-child {
    grid-column: 1/6; } }

@media (min-width: 100px) and (max-width: 499px) {
  .navbar {
    padding: 0 0.1em; }
    .navbar .navbar-container {
      height: 46px; }
  .navbar-webname {
    grid-column: 1/3;
    text-align: center; }
    .navbar-webname .navbar-webname-title {
      font-size: 5vmin; }
    .navbar-webname .navbar-icon_title {
      margin: 0.3em;
      display: inline;
      font-size: 0.8em;
      position: relative; }
  .navbar-webname-subtitle span {
    display: none; }
  .navbar-webname-subtitle:after {
    font-size: 0.7em;
    line-height: 2em;
    content: 'จำหน่ายอุปกรณ์สำหรับโต๊ะทำงาน';
    font-size: 2vmin; }
  .navbar-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    right: 0;
    margin: -0.1em;
    top: -33em;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .navbar-link li {
      display: block;
      width: 100%;
      padding: 0.5em 3em;
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
    .navbar-link li:hover {
      background-color: #dde; }
    .navbar-link .navbar-link_register {
      padding: 1.2em 1em; }
    .navbar-link .navbar-contacts_container ul li {
      border-top: none;
      margin: 0 0.3em; }
  .modal-login .modal-login_content {
    margin: 15% auto;
    width: 90%; }
  .modal-download .modal-download_content {
    margin: 15% auto;
    width: 90%; }
  .navbar-hamburger {
    margin: 4px; }
  .button_hamburger {
    height: 2px; }
  .navbar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar-link.active {
    opacity: 1;
    top: 4em; }
  .banner {
    margin: 0.5em; }
    .banner .banner-container-grid {
      grid-template-rows: 1fr 1fr; }
      .banner .banner-container-grid .banner-slideshow_promotion {
        grid-column: 1/13; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-title {
          padding: 0.7em;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
        .banner .banner-container-grid .banner-slideshow_promotion .promotion-container {
          max-height: 250px; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-btn {
          padding: 0.5em; }
      .banner .banner-container-grid .banner-slideshow {
        grid-column: 1/13;
        padding: 0 15%;
        background-color: #424242; }
        .banner .banner-container-grid .banner-slideshow .slideshow-btn {
          padding: 0.5em; }
        .banner .banner-container-grid .banner-slideshow .slideshow-selector {
          left: 0; }
  .menu {
    margin-bottom: 0.5em; }
    .menu .menu-products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .menu .menu-products section.menu-item {
        margin: 0.1em;
        padding: 0.2em !important;
        width: 20%; }
        .menu .menu-products section.menu-item img {
          width: 60% !important;
          height: 60% !important; }
  .market-header {
    margin: 0.5em; }
    .market-header .market-header_titlebar .market-header_titlebar-title {
      font-size: 1.2em; }
    .market-header .market-header_titlebar .market-header_titlebar-button {
      margin-right: 30%;
      display: block;
      padding: 10%;
      width: 40px;
      height: 40px; }
    .market-header .market-filterbar {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 48, 49, 0.74); }
      .market-header .market-filterbar .filterbar-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow-y: scroll;
        padding-top: 15em;
        padding-bottom: 2em; }
        .market-header .market-filterbar .filterbar-content div:first-child {
          margin-bottom: 0.5em; }
        .market-header .market-filterbar .filterbar-content section {
          -ms-flex-negative: 0;
          flex-shrink: 0; }
        .market-header .market-filterbar .filterbar-content section.filterbar_type article {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .market-header .market-filterbar .filterbar-content section.filterbar_type article div {
            width: 50%;
            text-align: left; }
  .market-body {
    margin: 0.5em; }
  .market-item-container {
    grid-template-columns: repeat(3, 1fr); }
    .market-item-container .card .card-image {
      max-height: 100px; }
      .market-item-container .card .card-image img {
        width: 100%; }
  .footer-container {
    padding: 1em;
    font-size: 2.5vmin; }
  .footer-grid-nested {
    grid-column: 1/6;
    grid-template-columns: repeat(2, 1fr); }
  .footer-grid-child {
    grid-column: 1/6; } }
