@charset "UTF-8";
@media (max-width: 650px) and (min-width: 500px) {
  .navbar {
    padding: 0 0.5em; }
  .navbar-webname {
    text-align: left; }
    .navbar-webname .navbar-icon_title {
      margin: 0.3em;
      display: inline;
      font-size: 1em;
      position: relative; }
  .navbar-webname-subtitle span {
    display: block; }
  .navbar-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    right: 0;
    margin: -0.1em;
    top: -33em;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .navbar-link li {
      display: block;
      width: 100%;
      padding: 0.5em 3em;
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
    .navbar-link li:hover {
      background-color: #dde; }
    .navbar-link .navbar-link_register {
      padding: 1.2em 1em; }
    .navbar-link .navbar-contacts_container ul li {
      border-top: none;
      margin: 0 0.3em; }
  .modal-login .modal-login_content {
    margin: 15% auto;
    width: 60%; }
  .modal-download .modal-download_content {
    margin: 15% auto;
    width: 60%; }
  .navbar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1px 0; }
    .navbar-hamburger .button_hamburger {
      height: 2px; }
  .navbar-link.active {
    opacity: 1;
    top: 120%; }
  .banner {
    margin: 0.5em; }
    .banner .banner-container-grid {
      grid-template-rows: 1fr 1fr; }
      .banner .banner-container-grid .banner-slideshow_promotion {
        grid-column: 1/13; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-title {
          padding: 0.7em; }
        .banner .banner-container-grid .banner-slideshow_promotion .promotion-container {
          max-height: 250px; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-btn {
          padding: 0.5em; }
      .banner .banner-container-grid .banner-slideshow {
        grid-column: 1/13;
        padding: 0 15%;
        background-color: #424242; }
        .banner .banner-container-grid .banner-slideshow .slideshow-btn {
          padding: 0.5em; }
        .banner .banner-container-grid .banner-slideshow .slideshow-selector {
          left: 0; }
  .menu {
    margin-bottom: 0.5em; }
    .menu .menu-products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .menu .menu-products section {
        margin: 0.1em;
        width: 15%; }
        .menu .menu-products section img {
          width: 60%;
          height: 60%; }
  .market-header {
    margin: 0.5em; }
    .market-header .market-header_titlebar .market-header_titlebar-title {
      font-size: 1.6em; }
    .market-header .market-header_titlebar .market-header_titlebar-button {
      margin-right: 30%;
      display: block;
      padding: 12%;
      width: 55px;
      height: 55px; }
    .market-header .market-filterbar {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 48, 49, 0.74); }
      .market-header .market-filterbar .filterbar-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
  .market-body {
    margin: 0.5em; }
  .market-item-container {
    margin: 0 0.1em;
    grid-template-columns: repeat(4, 1fr); }
  .card-image {
    height: 130px;
    overflow: hidden; }
  .footer-container {
    padding: 1em;
    font-size: 2.5vmin; }
  .footer-grid-nested {
    grid-column: 1/6;
    grid-template-columns: repeat(2, 1fr); }
  .footer-grid-child {
    grid-column: 1/6; } }

@media (min-width: 100px) and (max-width: 499px) {
  .navbar {
    padding: 0 0.1em; }
    .navbar .navbar-container {
      height: 46px; }
  .navbar-webname {
    grid-column: 1/3;
    text-align: center; }
    .navbar-webname .navbar-webname-title {
      font-size: 5vmin; }
    .navbar-webname .navbar-icon_title {
      margin: 0.3em;
      display: inline;
      font-size: 0.8em;
      position: relative; }
  .navbar-webname-subtitle span {
    display: none; }
  .navbar-webname-subtitle:after {
    font-size: 0.7em;
    line-height: 2em;
    content: 'จำหน่ายอุปกรณ์สำหรับโต๊ะทำงาน';
    font-size: 2vmin; }
  .navbar-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);
    right: 0;
    margin: -0.1em;
    top: -33em;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .navbar-link li {
      display: block;
      width: 100%;
      padding: 0.5em 3em;
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
    .navbar-link li:hover {
      background-color: #dde; }
    .navbar-link .navbar-link_register {
      padding: 1.2em 1em; }
    .navbar-link .navbar-contacts_container ul li {
      border-top: none;
      margin: 0 0.3em; }
  .modal-login .modal-login_content {
    margin: 15% auto;
    width: 90%; }
  .modal-download .modal-download_content {
    margin: 15% auto;
    width: 90%; }
  .navbar-hamburger {
    margin: 4px; }
  .button_hamburger {
    height: 2px; }
  .navbar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar-link.active {
    opacity: 1;
    top: 4em; }
  .banner {
    margin: 0.5em; }
    .banner .banner-container-grid {
      grid-template-rows: 1fr 1fr; }
      .banner .banner-container-grid .banner-slideshow_promotion {
        grid-column: 1/13; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-title {
          padding: 0.7em;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
        .banner .banner-container-grid .banner-slideshow_promotion .promotion-container {
          max-height: 250px; }
        .banner .banner-container-grid .banner-slideshow_promotion .slideshow_promotion-btn {
          padding: 0.5em; }
      .banner .banner-container-grid .banner-slideshow {
        grid-column: 1/13;
        padding: 0 15%;
        background-color: #424242; }
        .banner .banner-container-grid .banner-slideshow .slideshow-btn {
          padding: 0.5em; }
        .banner .banner-container-grid .banner-slideshow .slideshow-selector {
          left: 0; }
  .menu {
    margin-bottom: 0.5em; }
    .menu .menu-products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .menu .menu-products section.menu-item {
        margin: 0.1em;
        padding: 0.2em !important;
        width: 20%; }
        .menu .menu-products section.menu-item img {
          width: 60% !important;
          height: 60% !important; }
  .market-header {
    margin: 0.5em; }
    .market-header .market-header_titlebar .market-header_titlebar-title {
      font-size: 1.2em; }
    .market-header .market-header_titlebar .market-header_titlebar-button {
      margin-right: 30%;
      display: block;
      padding: 10%;
      width: 50px;
      height: 50px; }
    .market-header .market-filterbar {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(47, 48, 49, 0.74); }
      .market-header .market-filterbar .filterbar-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
  .market-body {
    margin: 0.5em; }
  .market-item-container {
    margin: 0 0.1em;
    grid-template-columns: repeat(4, 1fr); }
  .card-image {
    height: 90px;
    overflow: hidden; }
  .card-body {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.3em; }
    .card-body .card-body_name {
      font-size: 2.3vmin;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .card-body .card-body_id {
      display: none; }
    .card-body .card-body_price {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      font-size: 2.3vmin; }
  .card-body .card-body_label {
    font-size: 2.6vmin;
    top: -1.9em; }
  .footer-container {
    padding: 1em;
    font-size: 2.5vmin; }
  .footer-grid-nested {
    grid-column: 1/6;
    grid-template-columns: repeat(2, 1fr); }
  .footer-grid-child {
    grid-column: 1/6; } }
